#home{
    min-height: 100vh;
    color: aliceblue;
    position: relative;
}
.images{
    position: absolute;
    z-index: -100;
}

.images img{
    width: 100%;
    object-fit:cover;
    filter: brightness(50%);
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}



.nav-link{ 
    font-size: 1rem;
    font-weight: 600;
}
.nav-first a{
    color: aliceblue;
}
.nav-first a:hover{
    color: bisque;
}

.act{
    color:rgb(250, 224, 185);
}

.intro{
    font-size: 4rem;
    font-weight: 100;
}

.name{
    font-size: 5rem;
    font-weight: 500;
    color: wheat;
}

.devel{
    font-size: 30px;
    font-weight: 300;
    color: #a39f9f;
}

.devel span{
    font-weight: 600;
    color:#e4d85d;
}

.hire-me a{
    color:#2e2626;
    padding: 1rem 1.5rem;
    background-color:rgb(255 189 128);
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

#about{
    min-height: 90vh;
    background-color: rgb(50, 55, 55);
}
.about-inside{
    background-color:#6e6e6e;
}

.title{
    color: aliceblue;
    font-size: 4rem;
    font-weight: 200;
    box-shadow: rgba(7, 7, 7, 0.25) 0px 54px 55px, rgba(117, 113, 113, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.title span{
    font-weight: 700;
    color: wheat;
}
table .text-center{
    padding: 0;
    font-size: 1.5rem;
}
.about{
    min-height: 78vh;
    background-color: rgb(50, 55, 55);
    box-shadow: rgba(211, 202, 202, 0.25) 0px 54px 55px, rgba(117, 113, 113, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.about-mobile{
    padding: 3rem;
}
table button{
    width: 100%;
    height: 100%;
    background-color: #c1c1c1;
    color: #646060;
    outline: none;
    border: none;
}
table button:hover{
    background-color: #656363;
    color: aliceblue;
    box-shadow: rgba(211, 202, 202, 0.25) 0px 54px 55px, rgba(117, 113, 113, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.about-selected{
    background-color: #656363;
    color: aliceblue;
    box-shadow: rgba(211, 202, 202, 0.25) 0px 54px 55px, rgba(117, 113, 113, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.about-detail{
    box-shadow: rgba(211, 202, 202, 0.25) 0px 54px 55px, rgba(117, 113, 113, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#work{
    min-height: 100vh;
    background-color: rgb(67, 72, 72);
}
.card{
    padding: 1rem;
    background-color:#6e6e6e;
}
.card:hover {
    transform: scale(1.04, 1.04);
    transition: all 0.3s ease;
  }
.period{
    color: aliceblue;
    font-size: 14px;
    font-weight: 700;
}
.mid-text{
    font-size: 24px;
}
.role{
    font-size: 1.5rem;
    font-weight: 600;
    color: wheat;
}
.detail{
    color:#cbcbcb;
}
button{
    color: aliceblue;
    padding: 0.5rem 1rem;
    background-color:rgb(52, 51, 51) ;
    text-decoration: none;
    border-radius: 5px;
}
button:hover{
    padding: 1rem 2rem;
}

#skill{
    min-height: 100vh;
}

/* .rate span{
    padding:0 9px;
    margin:8px;
    background-color: #e4d85d;
} */

.rate div{
    width: 20px;
    height: 20px;
    /* background-color:#c1c1c1; */

}
.fill-skill{
    background-color: #e4d85d;
}
.unfill-skill{
    background-color: #c1c1c1;
}
.skill-name{
    font-size: 1.5rem;
    font-weight: 500;
    color:bisque;
}
.skill-name img{
    height: 2rem;
}

#contact{
    min-height: 100vh;
    background-color: rgb(50, 55, 55);
}
label{
    color:#cbcbcb;
}
#contact .mid-text{
    font-size: 2rem;
    color: #cbcbcb;
}
#contact button{
    display: block;
    width: 100%;
}
.contact-first{
    color: bisque;
    margin-bottom: 0;
    margin-top: 1.5rem;
}
.contact-second{
    margin-bottom: 0.3rem;
    color: #cbcbcb;
}
#contact .card{
    height: 30rem;
}
footer{
    background-color: rgb(67, 72, 72);
    color:#cbcbcb;
    font-weight: 200;
}
footer span{
    color: bisque;
}
footer a{
    color: #c1c1c1;
    margin: 10px;
    font-size: 2rem;
}

@media only screen and (max-width: 850px) {
    .about-mobile{
        padding: 0.5rem;
    }
    .images img{
        height: 100vh;
    }
    nav button i{
        color: aliceblue;
    }
    .title{
        font-size: 3rem;
    }
    .card{
        margin: 0.5rem;
    }
  }